{
    "ejs": [
		"index.ejs"
    ],
    "js": [
        
    ],
    "css": [
		
    ],
	"postTpl":"post.ejs",
	"pageTpl":"_page.ejs",
	"markedRender":{
		"image":"<img data-src='{0}' title='{1}' alt='{2}' class='lazyload blur-up'>"
	},
	"copy": [
		"css/",
        "fonts/",
		"img/",
		"js/"
    ]
}